<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('/dist/css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/dist/css/animate.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/dist/css/font-awesome.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('/dist/css/react-admin.css') }}" type="text/css" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script>
          window.config = {
            backend : 'http://localhost:3000/',
            appId : '5765521282941492bd81ed90',
            serverURL : 'http://localhost:3000/',
            cookieIdentifier : 'X-accesstoken-dev'
          }
        </script>
        <script src="{{ asset('/dist/js/lib.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
